<html>
  <body>
    <center>
      <div
        style='
          background-color: #2e2e2e;
          max-width: 840px;
          margin: 0;
          padding: 30px;
        '
      >
        <h2 style='color: #d6afa8; text-align: left; margin-bottom: 50px'>
          {{name}},
        </h2>
        <p style='color: #d6afa8; text-align: left; font-size: 20px'>
          Obrigada por entrar em contato, entraremos em contato com você o mais
          breve possível.
        </p>
        <p
          style='
            color: #d6afa8;
            text-align: left;
            font-size: 14px;
            margin-top: 50px;
            line-height: 1.4rem;
          '
        >
          Esta é uma mensagem automática, não responder para este e-mail pois é
          utilizado somente para mensagens automáticas. Dúvidas enviar
          diretamente para o email jessica@veronezeadvocacia.com.br ou por
          WhatsApp (51) 99207-7176
        </p>
      </div>
    </center>
  </body>
</html>