<html>
  <body>
    <center>
      <div
        style="
          background-color: #2e2e2e;
          max-width: 840px;
          margin: 0;
          padding: 30px;
          display: block;
        "
      >
        <h1 style="color: #d6afa8; text-align: left; margin-bottom: 50px">
          Olá, Jéssica!
        </h2>
        <p style="color: #d6afa8; text-align: left; font-size: 20px; margin-bottom: 40px;">
          {{name}} enviou para você uma nova mensagem, confira abaixo.
        </p>
        <p style="color: #d6afa8; text-align: left; font-size: 18px; margin-bottom: 40px;">
          {{mensagem}}
        </p>
        <p style="color: #d6afa8; text-align: left; font-size: 20px; margin-bottom: 30px;">
          Dados para contato:
        </p>
        <p style="color: #d6afa8; text-align: left; font-size: 18px">
          Email: {{email}}
        </p>
        <p style="color: #d6afa8; text-align: left; font-size: 18px">
          Telefone: {{telefone}}
        </p>
      </div>
    </center>
  </body>
</html>
